@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&family=Outfit:wght@400;500;600&display=swap');

:root {
  --font-plus-jakarta: 'Plus Jakarta Sans', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
}

body {
  font-family: var(--font-plus-jakarta);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }


}
@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
